body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;   
    background-color: #323233;
}

.gamespace {
    height: 10em;
    width: 10em;
    background-color: white;
}