body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #e4e4e4;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;   
    background-color: #323233;
}

.gamespace {
    height: 80px;
    width: 80px;
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}